<div class="projects" data-slider="true">

  {{#each projects as |project index|}}
    <div
      class="project loader"
      data-slide="{{index}}"
      id="slide={{index}}"
      style="background-color: {{project.colors.imageBg}};"
      data-slug="{{project.slug}}"
    >
      <!--<div
        class="img container loader"
        style="background-color: {{project.colors.imgBg}};"
      >-->

      <img src="./assets/images/projects/{{project.image}}" loading="lazy" />

      <div class="description-container">
        <div
          class="description"
          style="background-color:{{project.colors.textBg}};color:{{project.colors.text}};"
        >{{project.description}}</div>
      </div>
      <!--<div
      </div>
        class="copy container"
        style="background-color: {{project.colors.txtBg}};"
      >
        <div class="copy-inner">
          <h2 id="{{project-slug}}" style="color: {{project.colors.headline}};">{{project.title}}</h2>
          <p
            style="color: {{project.colors.paragraph}};"
          >{{project.description}}</p>
        </div>
      </div>-->
    </div>
  {{/each}}

  <a class="step prev hidden" data-prev="true" href="#">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="step next" data-next="true" href="#">
    <i class="icon-chevron-right"></i>
  </a>
</div>