<div class="projects" data-slider>
  {{#each projects as |project index|}}
    <div
      class="project"
      data-slide="{{index}}"
      id="slide={{index}}"
      style="background-color: {{project.colors.imageBg}};"
      data-slug="{{project.slug}}"
    >

      <div class="img-container loader">
        {{!-- style="background-image:url('./assets/images/projects/{{project.image}}');" --}}
        <img src="./assets/images/projects/{{project.image}}" />
      </div>

      <div
        class="description"
        style="background-color:{{project.colors.textBg}};color:{{project.colors.text}};"
      >{{project.description}}</div>

    </div>
  {{/each}}

  <a class="step prev hidden" data-prev="true" href="#">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="step next" data-next="true" href="#">
    <i class="icon-chevron-right"></i>
  </a>
</div>