<div class="projects" data-slider>
  {{#each projects as |project index|}}
    <div
      class="project"
      data-slide-index="{{index}}"
      id="slide={{index}}"
      data-slug="{{project.slug}}"
      data-color="{{project.colors.textBg}}"
    >

      <div class="img-container loader">
        <img src="./assets/images/projects/{{project.image}}" loading="lazy" />
      </div>

      <div
        class="description"
        style="color:{{project.colors.text}};"
      >{{project.description}}</div>

    </div>
  {{/each}}

  <a class="step prev hidden" data-prev="true" href="#">
    <i class="icon-chevron-left"></i>
  </a>
  <a class="step next" data-next="true" href="#">
    <i class="icon-chevron-right"></i>
  </a>
</div>